<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/course_java_data_persistence?currentSchema=07_mapping_inheritance</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345678</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>

        <!-- Table Per Concrete Class -->
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tpc.BaseEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tpc.EmployeeTpcEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tpc.ManagerTpcEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tpc.ProgrammerTpcEntity"/>

        <!-- Table Per Hierarchy Class -->
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tph.BaseEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tph.EmployeeTphEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tph.ManagerTphEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tph.ProgrammerTphEntity"/>

        <!-- Table Per Subclass -->
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tps.BaseEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tps.EmployeeTpsEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tps.ManagerTpsEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.demo.dal.entity.tps.ProgrammerTpsEntity"/>

        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.enemy.dal.entity.BaseEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.enemy.dal.entity.EnemyEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.enemy.dal.entity.ArmoredEnemyEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.enemy.dal.entity.InvisibleEnemyEntity"/>
        <mapping class="by.rakovets.course.datapersistence.mapping.inheritance.enemy.dal.entity.RangedEnemyEntity"/>
    </session-factory>
</hibernate-configuration>
