<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.testcontainers.jdbc.ContainerDatabaseDriver</property>
        <property name="connection.url">jdbc:tc:postgresql:14.1:///course_java_data_persistence</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="format_sql">true</property>

        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example2.entity.Hero"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example2.entity.Inventory"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example2.entity.Quest"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example2.entity.Item"/>

        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example1.entity.Address"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example1.entity.Employee"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example1.entity.Meeting"/>
        <mapping class="by.rakovets.course.datapersistence.example.mapping.association.example1.entity.Organization"/>
    </session-factory>
</hibernate-configuration>
